<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/vue@3"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="./css/app.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>Vue Training</title>
</head>
<body>

    <div id="app">
    <ul>
        <li class="dude" v-for="dude in characters">
            <a class="ctrl" @click.prevent="remove(dude)">x</a>

            <article>
                {{dude.who}}
                <span>{{dude.wat}}</span>
            </article>
        </li>
    </ul>

        <form class="add-new" @keydown.enter="add">
            <input type="text" v-model="newWho">
            <input type="text" v-model="newWat">
        </form>

        <p class="preview">
            {{ newWho }}
            <small>{{ newWat }}</small>
        </p>

    </div>



<script>
    const app = new Vue({
        el: '#app',
        data: {
            newWho: '',
            newWat: '',
            characters: [{
                "who": "Mars the wolf",
                "wat": "Crazy hungry puppy"
            }, {
                "who": "Aja the dog",
                "wat": "Lazy pupp"
            }],
        },
        methods: {
            add() {
                this.characters.push({
                    who: this.newWho,
                    wat: this.newWat
                })
            },
            remove(dude){
                this.characters = this.characters.filter(item => item != dude)
            }
        }
    })
</script>

    
</body>
</html>